# add necessary files and folders to .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Streamlit's cache and log files
.streamlit/
# Ignore API keys and sensitive information
*.env
*.secret
